---
import Videos from "./Videos.astro";
import Websites from "./Websites.astro";
---

<section
  class="container mx-auto mt-32 px-4 lg:px-28"
  aria-label="Our Projects"
  id="projects"
>
  <h2 class="uppercase text-xl">our projects</h2>
  <div class="w-full h-[1px] bg-dark mb-10 mt-5"></div>
  <Websites />
  <Videos />
</section>
