---
---

<!-- TODO:Add more images and description -->
<div class="flex items-start">
  <div class="flex flex-col gap-7">
    <h2 class="uppercase text-[32px] font-bold flex gap-2">
      <span class="text-[#A6A6A6]"> 02/</span>videos
    </h2>
    <div class="swiper h-auto max-w-md sm:max-w-lg md:max-w-2xl lg:w-[800px]">
      <div class="swiper-wrapper">
        <div class="swiper-slide flex items-center justify-center">
          <img src="/assets/img/MacBook.png" />
        </div>
        <div class="swiper-slide flex items-center justify-center">Slide 2</div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <div class="flex flex-col gap-2">
      <h4 class="text-2xl">Project Name</h4>
      <p class="text-lg font-light">About the project</p>
      <div class="w-full h-[1px] opacity-10 bg-dark mb-10 mt-5"></div>
    </div>
  </div>
</div>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"
></script>
<script is:inline>
  new Swiper(".swiper", {
    loop: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

<style>
  .swiper-slide {
    background: #000;
  }

  .swiper-button-next::after {
    width: 24px;
    height: 12px;
    color: #fff;
  }

  .swiper-button-prev::after {
    width: 24px;
    height: 12px;
    color: #fff;
  }
</style>
