---
---

<section
  class="container mx-auto mt-32 px-4 lg:px-28"
  aria-label="About Us"
  id="about"
>
  <h2 class="uppercase text-xl">About Us</h2>
  <div class="w-full h-[1px] bg-dark mb-10 mt-5"></div>
  <div class="flex flex-col-reverse gap-4 2xl:flex-row">
    <div class="flex flex-col gap-6 2xl:gap-12">
      <h2
        class="text-black uppercase flex flex-col items-center text-5xl xl:text-7xl 2xl:gap-0 2xl:items-end 2xl:text-8xl"
      >
        <span>About</span>
        <span>Us</span>
      </h2>
      <p class="text-lg font-light text-center 2xl:text-left">
        We are a small media agency composed of a team of passionate creatives
        and filmakers that want to help small buisnesses and artists get their
        message out there.
        <br />
        <br />
        At our digital design studio, we're passionate about creating beautiful,
        functional designs that help our clients achieve their goals. We've been
        in the business for years, and our team has the experience and expertise
        to tackle any project, big or small.
      </p>
    </div>
    <img src="/assets/img/about.jpg" alt="About Us" />
  </div>
</section>
